<div class="alert alert-info" role="alert">
<h1>Polling station</h1>
</div>
<%= render 'form', pollbooth: @pollbooth %>


<%= pie_chart Pollbooth.group(:answer).count %>
<br>

<%= bar_chart Pollbooth.group(:answer).count %>
</div>