<div class="container">
<h1>Polling station</h1>

<%= render 'form', pollbooth: @pollbooth %>


<%= pie_chart Pollbooth.group(:answer).count %>
<br>

<%= bar_chart Pollbooth.group(:answer).count %>
</div>